@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #323941;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 15px;
}

[class*=__container-big] {
  max-width: 87.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.form__label {
  width: 100%;
  margin-bottom: 10px;
}

.form__input {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 64px;
  padding: 0 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--text-color-primary);
}

.form__input::-webkit-input-placeholder {
  color: var(--text-color-secondary);
}

.form__input::-moz-placeholder {
  color: var(--text-color-secondary);
}

.form__input:-ms-input-placeholder {
  color: var(--text-color-secondary);
}

.form__input::-ms-input-placeholder {
  color: var(--text-color-secondary);
}

.form__input::placeholder {
  color: var(--text-color-secondary);
}

.form__btn {
  padding: 15px 20px;
}

.button {
  padding: 1.25rem;
  background-color: #009EFF;
  font-size: 1.375rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button._fw {
  width: 100%;
}

.show-more__button {
  text-align: center;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.section-title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  color: #323941;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.5rem;
}

@supports (font-size: clamp( 1.5625rem , 1.1120495495rem  +  2.2522522523vw , 3.125rem )) {
  .section-title {
    font-size: clamp( 1.5625rem , 1.1120495495rem  +  2.2522522523vw , 3.125rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.1120495495rem  +  2.2522522523vw , 3.125rem )) {
  .section-title {
    font-size: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 69.375);
  }
}

section {
  padding: 3.125rem 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #323941;
  z-index: 1;
}

@supports (padding-top: clamp( 0.625rem , -0.2759009009rem  +  4.5045045045vw , 3.75rem )) {
  .header {
    padding-top: clamp( 0.625rem , -0.2759009009rem  +  4.5045045045vw , 3.75rem );
  }
}

@supports not (padding-top: clamp( 0.625rem , -0.2759009009rem  +  4.5045045045vw , 3.75rem )) {
  .header {
    padding-top: calc(0.625rem + 3.125 * (100vw - 20rem) / 69.375);
  }
}

@supports (padding-bottom: clamp( 0.625rem , -0.2759009009rem  +  4.5045045045vw , 3.75rem )) {
  .header {
    padding-bottom: clamp( 0.625rem , -0.2759009009rem  +  4.5045045045vw , 3.75rem );
  }
}

@supports not (padding-bottom: clamp( 0.625rem , -0.2759009009rem  +  4.5045045045vw , 3.75rem )) {
  .header {
    padding-bottom: calc(0.625rem + 3.125 * (100vw - 20rem) / 69.375);
  }
}

.header__container-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
}

@supports (width: clamp( 6.25rem , 5.5292792793rem  +  3.6036036036vw , 8.75rem )) {
  .header__logo {
    width: clamp( 6.25rem , 5.5292792793rem  +  3.6036036036vw , 8.75rem );
  }
}

@supports not (width: clamp( 6.25rem , 5.5292792793rem  +  3.6036036036vw , 8.75rem )) {
  .header__logo {
    width: calc(6.25rem + 2.5 * (100vw - 20rem) / 69.375);
  }
}

.header__logo img {
  width: 100%;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__phone {
  position: relative;
  z-index: 2;
  padding-right: 1.25rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.2;
  color: #EEE;
  text-transform: uppercase;
}

.menu {
  padding: 0 0.625rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 1rem , 0.4954954955rem  +  2.5225225225vw , 2.75rem )) {
  .menu__list {
    gap: clamp( 1rem , 0.4954954955rem  +  2.5225225225vw , 2.75rem );
  }
}

@supports not (gap: clamp( 1rem , 0.4954954955rem  +  2.5225225225vw , 2.75rem )) {
  .menu__list {
    gap: calc(1rem + 1.75 * (100vw - 20rem) / 69.375);
  }
}

.menu__link {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.2;
  color: #EEE;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link._navigator-active {
  color: #0591E7;
}

.menu__cart {
  position: relative;
  z-index: 5;
}

.phone__icon {
  display: none;
}

.icon-menu {
  display: none;
}

.hero {
  padding-bottom: 50px;
  background-color: var(--main-bg-color);
}

@supports (padding-top: clamp( 5rem , 1.9369369369rem  +  15.3153153153vw , 15.625rem )) {
  .hero {
    padding-top: clamp( 5rem , 1.9369369369rem  +  15.3153153153vw , 15.625rem );
  }
}

@supports not (padding-top: clamp( 5rem , 1.9369369369rem  +  15.3153153153vw , 15.625rem )) {
  .hero {
    padding-top: calc(5rem + 10.625 * (100vw - 20rem) / 69.375);
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 64%;
          flex: 0 1 64%;
}

.hero__title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--dark-color);
}

@supports (font-size: clamp( 2.25rem , 1.4572072072rem  +  3.963963964vw , 5rem )) {
  .hero__title {
    font-size: clamp( 2.25rem , 1.4572072072rem  +  3.963963964vw , 5rem );
  }
}

@supports not (font-size: clamp( 2.25rem , 1.4572072072rem  +  3.963963964vw , 5rem )) {
  .hero__title {
    font-size: calc(2.25rem + 2.75 * (100vw - 20rem) / 69.375);
  }
}

.hero__title-text {
  display: block;
  font-weight: 400;
  line-height: 1.4;
  text-transform: initial;
  margin-bottom: 50px;
}

@supports (font-size: clamp( 0.875rem , 0.8029279279rem  +  0.3603603604vw , 1.125rem )) {
  .hero__title-text {
    font-size: clamp( 0.875rem , 0.8029279279rem  +  0.3603603604vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8029279279rem  +  0.3603603604vw , 1.125rem )) {
  .hero__title-text {
    font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 69.375);
  }
}

.hero__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.product {
  padding: 50px 0;
}

.product__slider {
  padding: 50px 0;
}

.product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__img {
  width: 100%;
}

.product__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__scroll {
  width: 360px;
  height: 10px;
  cursor: pointer;
}

.product__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__slider-btn {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.product__slider-btn--prev {
  background-image: url("../img/prev.svg");
}

.product__slider-btn--next {
  background-image: url("../img/next.svg");
}

.product__slider-btn:not(:last-child) {
  margin-right: 20px;
}

.tabs-benefits__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs-benefits__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0.9375rem 1.5625rem;
  line-height: 1;
}

.tabs-benefits__title-descr {
  display: block;
  padding: 0 10px;
}

@supports (font-size: clamp( 0.875rem , 0.8029279279rem  +  0.3603603604vw , 1.125rem )) {
  .tabs-benefits__title-descr {
    font-size: clamp( 0.875rem , 0.8029279279rem  +  0.3603603604vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8029279279rem  +  0.3603603604vw , 1.125rem )) {
  .tabs-benefits__title-descr {
    font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 69.375);
  }
}

.tabs-benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5625rem;
  background-color: #EEE;
}

.tabs-benefits__item-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.tabs-benefits__item-title {
  font-size: 1.5625rem;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.9375rem;
}

.tabs-benefits__item-description {
  max-width: 33.125rem;
}

.tabs-benefits__item-img {
  min-height: 200px;
}

._tab-active {
  background-color: #009EFF;
  color: #fff;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -1em;
}

.features__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 1em;
  font-size: 1rem;
}

.features__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  height: 100%;
  text-align: center;
}

.features__img {
  margin-bottom: 1.5em;
}

.features__value {
  font-size: 2em;
  color: var(--brand-color);
  margin-bottom: 0.75em;
}

.video-presentation__content {
  position: relative;
  padding-bottom: 57%;
}

.video-presentation__video {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.order {
  background-color: #C4C4C4;
}

.order__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.order__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
}

.order__descr {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
}

.order__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.order__form {
  width: 100%;
}

.accessories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
  padding-bottom: 30px;
}

.accessories__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0 10px;
}

.accessories__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 15px;
}

.accessories__img-wrapper {
  margin-bottom: 1.25rem;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.accessories__img-wrapper::before {
  content: "";
  position: absolute;
  width: 130px;
  height: 130px;
  color: #C4C4C4;
  border-radius: 50%;
  top: 50%;
  left: 50%;
}

.accessories__title {
  font-size: 25px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

.accessories__description {
  font-size: 14px;
  line-height: 1.2;
  color: #999999;
  margin-bottom: 1.25rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.accessories__price {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 1.25rem;
}

.accessories__show-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  background-color: #323941;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.2;
  color: #EEE;
  text-transform: uppercase;
}

@supports (padding-top: clamp( 0.625rem , 0.2646396396rem  +  1.8018018018vw , 1.875rem )) {
  .footer {
    padding-top: clamp( 0.625rem , 0.2646396396rem  +  1.8018018018vw , 1.875rem );
  }
}

@supports not (padding-top: clamp( 0.625rem , 0.2646396396rem  +  1.8018018018vw , 1.875rem )) {
  .footer {
    padding-top: calc(0.625rem + 1.25 * (100vw - 20rem) / 69.375);
  }
}

@supports (padding-bottom: clamp( 0.625rem , 0.2646396396rem  +  1.8018018018vw , 1.875rem )) {
  .footer {
    padding-bottom: clamp( 0.625rem , 0.2646396396rem  +  1.8018018018vw , 1.875rem );
  }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.2646396396rem  +  1.8018018018vw , 1.875rem )) {
  .footer {
    padding-bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 69.375);
  }
}

.footer__container-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (width: clamp( 6.25rem , 5.5292792793rem  +  3.6036036036vw , 8.75rem )) {
  .footer__logo {
    width: clamp( 6.25rem , 5.5292792793rem  +  3.6036036036vw , 8.75rem );
  }
}

@supports not (width: clamp( 6.25rem , 5.5292792793rem  +  3.6036036036vw , 8.75rem )) {
  .footer__logo {
    width: calc(6.25rem + 2.5 * (100vw - 20rem) / 69.375);
  }
}

.footer__logo img {
  width: 100%;
}

.footer__phone {
  margin-left: auto;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 64em) {
  .phone__icon {
    display: inline;
  }

  .phone__value {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
  }
}

@media (max-width: 900px) {
  .features__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 880px) {
  .tabs-benefits__title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .tabs-benefits__title-descr {
    display: none;
  }
}

@media (max-width: 600px) {
  .features__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 56.25em) {
  .header__logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: #323941;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding-bottom: 0.9375rem;
  }

@supports (padding-top: clamp( 5rem , 2.3154362416rem  +  13.4228187919vw , 8.75rem )) {
    .menu__body {
      padding-top: clamp( 5rem , 2.3154362416rem  +  13.4228187919vw , 8.75rem );
    }
}

@supports not (padding-top: clamp( 5rem , 2.3154362416rem  +  13.4228187919vw , 8.75rem )) {
    .menu__body {
      padding-top: calc(5rem + 3.75 * (100vw - 20rem) / 27.9375);
    }
}

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #323941;
    z-index: 2;
  }

@supports (height: clamp( 2.875rem , 1.4432326622rem  +  7.158836689vw , 4.875rem )) {
    .menu__body::before {
      height: clamp( 2.875rem , 1.4432326622rem  +  7.158836689vw , 4.875rem );
    }
}

@supports not (height: clamp( 2.875rem , 1.4432326622rem  +  7.158836689vw , 4.875rem )) {
    .menu__body::before {
      height: calc(2.875rem + 2 * (100vw - 20rem) / 27.9375);
    }
}

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .menu__link {
    font-size: 1.5rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #FFF;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .accessories__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 31.25em) {
  .accessories__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #0591E7;
  }

  .menu__link:hover {
    color: #0591E7;
  }
}